@import url('https://fonts.cdnfonts.com/css/norse');

body
{
    display: flex;
    align-items: stretch;
    background-color:rgb(0, 0, 0);
    color: aliceblue;
    margin: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Norse', sans-serif;
}

.banner
{
    background-image: url(images/Fr6TiNxXwAMEhFd.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: flex-end;
}

.content
{
    
}

img
{
    
}

.logoBanner
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
}

.logo
{
    height: 20vh;
    width: auto;
}

h1
{
    font-size: 10vh;
    font-family: 'Norse', sans-serif;
}

.footprint 
{
    font-family: 'Norse';
    text-align: center;
    margin-top: 60vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.info
{
    padding: 70px;
    font-weight: 900;
}

form
{
    background-color:rgb(255, 255, 255);
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.form_heading
{
    font-size: larger;
    font-weight: 900;
}

fieldset
{
    display: flex;

    gap: 100px;
    border: 0;
    justify-content: center;
}

.form_entry
{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 900;
}

legend
{
    font-weight: 300;

}

button
{
    margin: 30px;
    background-color: aqua;
    border: 0;
    border-radius: 5px;
    font-size: large;
    font-family: 'Norse', sans-serif;
    font-weight: 900;
}

.login
{
    margin-left: 30px;
}

a
{
    color: aqua;
}

input
{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid;
}

input:invalid {
    border-color: red;
  }